.center_container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.center_container > h1 {
  color: white;
  background: black;
}

p.ray {
  color: red;
  background: black;
}
p.oscar{
  color:orange;
  background: black;
}
p.gwen {
  color:green;
  background: rgb(55, 95, 122)
}
p.bob {
  color:blue;
  background: yellow
}
p.marie {
  color:magenta;
  background: rgb(7, 165, 60);
  font-size: 24px;
  font-weight: bold;
}